$headerBackground: url(../img/m-h-day.jpg);
$fontStyle3: 'Source Sance Pro', sans-serif; 
$fontStyle: 'Hind', sans-serif; 
$fontStyle2: 'Fresca', sans-serif; 
$contentBackgroundColor: white; 
$blockBackgroundColor: #21232F;
$blockTextColor: white;
$buttonColor: #669501;
$blockGradientRightColor: #3260C8;
$blockGradientLeftColor: #649412;
$logoTextColorHeader: black;
$logoTextColorFooter: white;
$headerTextColor: black;
$sectionTextColor: black;
$bunnerHeadingTextColor: black;
$bunnerTextColor: white;

