$headerBackground: url(../img/m-h-night.jpg);
$fontStyle3: 'Source Sance Pro', sans-serif; 
$fontStyle: 'Hind', sans-serif; 
$fontStyle2: 'Fresca', sans-serif; 
$contentBackgroundColor: #21232E; 
$blockBackgroundColor: #3B3F50;
$blockTextColor: white;
$buttonColor: #E3AC00;
$blockGradientRightColor: #942F51;
$blockGradientLeftColor: #E3AC00;
$logoTextColorHeader: white;
$logoTextColorFooter: white;
$headerTextColor: white;
$sectionTextColor: white;
$bunnerHeadingTextColor: white;
$bunnerTextColor: white;